body {
  color: rgb(56, 56, 56);
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  padding: 15px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
  color: rgb(73, 73, 150);
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 22px;
  padding: 10px;
  color: rgb(73, 73, 150);
}

#main {
  display: flex;
}

.title {
  text-align: center;
}

#card-box {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  width: 65%;
  background-color:rgb(233, 233, 233);
  border-radius: 5px;
}

#card-box h2 {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

/* by default a card will show the back, so no image present */
.card {
  display: flex;
  flex: 0 0 calc(20% - 8px);
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 30px 0px;
  background-color: rgb(91, 91, 175);
  box-shadow: 2px 2px 3px grey;
  overflow: hidden;
}

/* for when card is matched */
.card.hidden {
  visibility: hidden;
}

/* by default, card images are hidden */
.card img {
  position: absolute;
  width:40px;
  top: -100%;
}

/* for when card is flipped to show the image */
.card.showing img {
  top: calc(100% - 50px);
}
.card.showing {
  background-color: white;
  border: 1px solid #a9a5a5;
}

/* for the right sidebar */
#display {
  width: 35%;
  margin: 15px;
}

/* for the moves counter */
#moves {
  display: flex;
  align-items: center;
  height: 40px;
}

/* the character section */
#character {
  display: grid;
  grid-template-columns: 60px 60px 60px;
  grid-template-rows: 60px 60px 60px;
  grid-template-areas:
    ". hat ."
    "weapon armor food"
    ". shoe .";
}

/* for each icon that builds up the character - defaulting to an empty block */
.character-part {
  margin: 15px;
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background-color:rgb(233, 233, 233);
}

.icon-image {
  background-color: white;
  width: 50px;
}

#hat {
  grid-area: hat;
}

#weapon {
  grid-area: weapon;
}

#armor {
  grid-area: armor;
}

#food {
  grid-area: food;
}

#shoe {
  grid-area: shoe;
}
